/*@require ../font/iconfont.css*/
@charset "utf-8";
[v-cloak]{display:none !important;}
/* CSS Document */
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0; padding:0 }
input{outline: none;border:none;}textarea,div,a{outline:none;}
input,textarea,select{font:14px "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;outline: none;filter:none;}
body{font: 14px "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;color:#425c72;min-width:1200px;min-height:100vh;}
img{vertical-align:top;border:none;display:inline-block;font-size:14px;}
a{text-decoration:none;color:inherit;}
a:hover{color:#09f;}
table{border-collapse:collapse;}
template{display:none;}
iframe{width: 100%;border: none;}
pre{word-break:break-all;word-wrap: break-word;white-space: pre-wrap;}
/*misc*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clear{clear:both;height:0;overflow:hidden;visibility:hidden;border:none;line-height:0; font-size:1px;}
.left{float:left;}.right{float:right;}.posr{ position:relative; }.posa{ position:absolute; }.posf{ position:fixed; }
.p_ibm{display:inline-block;vertical-align:middle;}.p_ibt{display:inline-block;vertical-align:top;}.hide{display: none;}.show{display: block;}
.auto_box{width:1200px;margin-left:auto;margin-right:auto;}
.Center{text-align:center;}.Tright{text-align:right;}.Tleft{text-align:left;}
.WTO{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.hidden{overflow:hidden;}
.vertical_center:after{content: ""; display: inline-block; height: 100%; width: 0; vertical-align: middle;}
.box_sizing{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.hover_default:hover{cursor:default;}.hover_pointer:hover{cursor:pointer;}.hover_not:hover{cursor:not-allowed;}


/*input*/
.input0{width:200px;height:30px;border:1px solid #ccc;border-radius:3px;text-indent:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#4e4e4e;}.input0:focus{border-color: #27a9f7;}
/*textarea*/
.textarea0{border:1px solid #ccc;width:100%;resize:none;border-radius:2px;height:80px;padding-left: 5px;padding-top: 5px;color:#4e4e4e;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
/*table*/
.liu_table{background-color:#fff;border-radius:3px;overflow:hidden;border: 1px solid #e9edf0;border-bottom: 0;}
.liu_table .th{background-color:#eaeef1;line-height:40px;color:#8ca1af;font-size:0;}
.liu_table .tr{min-height:20px;line-height:20px;padding:10px 0;border-bottom:1px solid #e9edf0;background-color:#fff;color:#64818d;font-size:0;}
.liu_table .td{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:inline-block;vertical-align:middle;line-height:20px;font-size:14px;word-break: break-all;}
.liu_table .p_button{width:70px;line-height:30px;color:#8aa2ad;background-color:#f0f4f5;margin-right:6px;}
.liu_table .p_button:hover{background-color:#27a9f7;color:#fff;}
.liu_table .p_button.disable{opacity:0.5;cursor:default;}
.liu_table .p_button.disable:hover{background-color:#f0f4f5;color:#8aa2ad;}
.not_date_box{height:450px;text-align:center;}
.not_date_box .img{height:165px;width:150px;}
.not_date_box .text{font-size:16px;color:#8ba0ac;padding-top:40px;}
.not_date_box:after{content:"";width:0;height:100%;display:inline-block;vertical-align:middle;}
/*select*/
.select0{width:200px;height:30px;border:1px solid #ccc;border-radius:3px;appearance:none;text-indent:0; -moz-appearance:none; -webkit-appearance:none;color:#333;}
.select_icon0{width:0px;height:0px;border-width:10px 6px 0px 6px;border-color:#b8c5cb transparent transparent transparent;border-style:solid;line-height: 0px;position: absolute;top: 50%;margin-top: -4px;right: 13px;pointer-events: none;border-width:0\0;}
/*button*/
.button0{line-height:30px;background-color: #27a9f7; border-radius:20px; color: #fff; padding:0px 10px; cursor:pointer; font-size:14px;text-align: center;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:inline-block;vertical-align:top;}
.button0:hover{background-color:#0089E5;color:#fff;}
.button_disable{opacity:0.5;}
.button_disable:hover{background-color:#27a9f7;cursor:not-allowed;}
/*height*/
.het40{height:40px;}.het50{height:50px;}.het60{height:60px;}.het70{height:70px;}.het80{height:80px;}.het90{height:90px;}.het100{height:100px;}.het150{height:150px;}.het200{height:200px;}.het250{height:250px;}.het300{height:300px;}.het350{height:350px;}.het400{height:400px;}.het450{height:450px;}.het500{height:500px;}
.vh100{min-height:100vh;}.vh80{min-height:80vh;}.vh60{min-height:60vh;}.vh40{min-height:40vh;}.vh20{min-height:20vh;}
/*width*/
.wid50{width:50px;}.wid60{width:60px;}.wid70{width:70px;}.wid80{width:80px;}.wid90{width:90px;}.wid100{width:100px;}.wid120{width: 120px;}.wid150{width:150px;}.wid200{width:200px;}.wid250{width:250px;}.wid290{width:290px;}.wid300{width:300px;}.wid350{width:350px;}.wid400{width:400px;}.wid450{width:450px;}.wid500{width:500px;}
.wid550{width:550px;}.wid600{width:600px;}.wid650{width:650px;}.wid700{width:700px;}.wid750{width:750px;}.wid800{width:800px;}.wid850{width:850px;}.wid900{width:900px;}.wid910{width:910px;}.wid950{width:950px;}.wid1000{width:1000px;}
/*max width*/
.max_wid50{max-width:50px;}.max_wid60{max-width:60px;}.max_wid70{max-width:70px;}.max_wid80{max-width:80px;}.max_wid90{max-width:90px;}.max_wid100{max-width:100px;}.max_wid150{max-width:150px;}.max_wid200{max-width:200px;}.max_wid250{max-width:250px;}.max_wid300{max-width:300px;}
.max_wid350{max-width:350px;}.max_wid400{max-width:400px;}.max_wid450{max-width:450px;}.max_wid500{max-width:500px;}
.max_wid550{max-width:550px;}.max_wid600{max-width:600px;}.max_wid650{max-width:650px;}.max_wid700{max-width:700px;}.max_wid750{max-width:750px;}.max_wid800{max-width:800px;}.max_wid850{max-width:850px;}.max_wid900{max-width:900px;}.max_wid950{max-width:950px;}.max_wid1000{max-width:1000px;}
/*td width*/
.wido0{width:0%;}.wido5{width:5%;}.wido6{width:6%;}.wido7{width:7%;}.wido8{width:8%;}.wido9{width:9%;}.wido10{width:10%;}.wido15{width:15%;}.wido20{width:20%;}.wido25{width:25%;}.wido30{width:30%;}.wido35{width:35%;}.wido40{width:40%;}
.wido50{width:50%;}.wido55{width:55%;}.wido60{width:60%;}.wido65{width:65%;}.wido70{width:70%;}.wido75{width:75%;}.wido80{width:80%;}.wido85{width:85%;}.wido90{width:90%;}.wido95{width:95%;}.wido100{width:100%;}.wido45{width:45%;}
/*color*/
.co_333{color:#333333;}.co_ccc{color:#ccc;}.co_666{color:#666666;}.co_999{color:#999999;}.co_fff{color:#fff;}.co_f00{color:#f00;}.co_09f{color:#0099ff;}.co_f90{color:#ff9900;}.co_000{color:#000;}
/*bg color*/
.bg_fff{background-color:#fff;}
/*font-size*/
.F0{font-size:0px;}.F12{font-size:12px;}.F13{font-size:13px;}.F14{font-size:14px;}.F15{font-size:15px;}.F16{font-size:16px;}.F17{font-size:17px;}.F18{font-size:18px;}.F20{font-size:20px;}.F22{font-size:22px;}.F24{font-size:24px;}.F26{font-size:26px;}.F28{font-size:28px;}.F30{font-size:30px;}.F32{font-size:32px;}.F34{font-size:34px;}.F36{font-size:36px;}.F38{font-size:38px;}.F40{font-size:40px;}
.bold{font-weight:bold;}
/*padding*/
.Ptp5{padding-top:5px;}.Pbm5{padding-bottom:5px;}.Plf5{padding-left:5px;}.Prt5{padding-right:5px;}.Ptp10{padding-top:10px;}.Pbm10{padding-bottom:10px;}.Plf10{padding-left:10px;}.Prt10{padding-right:10px;}
.Ptp15{padding-top:15px;}.Pbm15{padding-bottom:15px;}.Plf15{padding-left:15px;}.Prt15{padding-right:15px;}.Ptp20{padding-top:20px;}.Pbm20{padding-bottom:20px;}.Plf20{padding-left:20px;}.Prt20{padding-right:20px;}
.Ptp25{padding-top:25px;}.Pbm25{padding-bottom:25px;}.Plf25{padding-left:25px;}.Prt25{padding-right:25px;}.Ptp30{padding-top:30px;}.Pbm30{padding-bottom:30px;}.Plf30{padding-left:30px;}.Prt30{padding-right:30px;}
.Ptp35{padding-top:35px;}.Pbm35{padding-bottom:35px;}.Plf35{padding-left:35px;}.Prt35{padding-right:35px;}.Ptp40{padding-top:40px;}.Pbm40{padding-bottom:40px;}.Plf40{padding-left:40px;}.Prt40{padding-right:40px;}
.Ptp45{padding-top:45px;}.Pbm45{padding-bottom:45px;}.Plf45{padding-left:45px;}.Prt45{padding-right:45px;}.Ptp50{padding-top:50px;}.Pbm50{padding-bottom:50px;}.Plf50{padding-left:50px;}.Prt50{padding-right:50px;}
.Ptp55{padding-top:55px;}.Pbm55{padding-bottom:55px;}.Plf55{padding-left:55px;}.Prt55{padding-right:55px;}.Ptp60{padding-top:60px;}.Pbm60{padding-bottom:60px;}.Plf60{padding-left:60px;}.Prt60{padding-right:60px;}
/*margin*/
.Mtp5{margin-top:5px;}.Mbm5{margin-bottom:5px;}.Mlf5{margin-left:5px;}.Mrt5{margin-right:5px;}.Mtp10{margin-top:10px;}.Mbm10{margin-bottom:10px;}.Mlf10{margin-left:10px;}.Mrt10{margin-right:10px;}
.Mtp15{margin-top:15px;}.Mbm15{margin-bottom:15px;}.Mlf15{margin-left:15px;}.Mrt15{margin-right:15px;}.Mtp20{margin-top:20px;}.Mbm20{margin-bottom:20px;}.Mlf20{margin-left:20px;}.Mrt20{margin-right:20px;}
.Mtp25{margin-top:25px;}.Mbm25{margin-bottom:25px;}.Mlf25{margin-left:25px;}.Mrt25{margin-right:25px;}.Mtp30{margin-top:30px;}.Mbm30{margin-bottom:30px;}.Mlf30{margin-left:30px;}.Mrt30{margin-right:30px;}
.Mtp35{margin-top:35px;}.Mbm35{margin-bottom:35px;}.Mlf35{margin-left:35px;}.Mrt35{margin-right:35px;}.Mtp40{margin-top:40px;}.Mbm40{margin-bottom:40px;}.Mlf40{margin-left:40px;}.Mrt40{margin-right:40px;}
.Mtp45{margin-top:45px;}.Mbm45{margin-bottom:45px;}.Mlf45{margin-left:45px;}.Mrt45{margin-right:45px;}.Mtp50{margin-top:50px;}.Mbm50{margin-bottom:50px;}.Mlf50{margin-left:50px;}.Mrt50{margin-right:50px;}
.Mtp55{margin-top:55px;}.Mbm55{margin-bottom:55px;}.Mlf55{margin-left:55px;}.Mrt55{margin-right:55px;}.Mtp60{margin-top:60px;}.Mbm60{margin-bottom:60px;}.Mlf60{margin-left:60px;}.Mrt60{margin-right:60px;}
/*line height*/
.Line0{line-height:normal;}.Line12{line-height:12px;}.Line14{line-height:14px;}.Line16{line-height:16px;}.Line18{line-height:18px;}.Line20{line-height:20px;}.Line22{line-height:22px;}.Line24{line-height:24px;}.Line26{line-height:26px;}.Line28{line-height:28px;}.Line30{line-height:30px;}
.Line32{line-height:32px;}.Line34{line-height:34px;}.Line36{line-height:36px;}.Line38{line-height:38px;}.Line40{line-height:40px;}.Line42{line-height:42px;}.Line44{line-height:44px;}.Line46{line-height:46px;}.Line48{line-height:48px;}.Line50{line-height:50px;}

