/*liu*/
.liu_float_panel{position:fixed;z-index:99;right:0;left:0;top:0;bottom:0;background-color:rgba(3,3,3,0.3);text-align:center;}
.liu_float_panel:after{content:"";width:0;height:100%;display:inline-block;vertical-align:middle;}

/*index*/
.index_banner_box{height: 500px; background-color: #fafafa;padding-top:30px;
	background:-webkit-linear-gradient(to bottom, #d4eefd 0%,#fff 100%);
	background: -o-linear-gradient(to bottom, #d4eefd 0%,#fff 100%);
	background: -ms-linear-gradient(to bottom, #d4eefd 0%,#fff 100%);
	background: linear-gradient(to bottom, #d4eefd 0%,#fff 100%);
}
.index_banner_box .swiper-container{height:100%;width:1200px; border-radius: 10px; width: 1200px; margin: 0 auto; box-shadow: 0px 2px 14px 1px rgba(9,9,9,0.3);}
.index_banner_box .swiper-container .swiper-slide .banner{height:100%;display:block;background-size:cover;background-repeat:no-repeat;}

/*note*/
.note_main_box{}

.user_main_box{min-height:80vh;padding-bottom: 40px;}
.user_content_box{margin-top:30px;width: 980px;padding-left: 55px;}
.user_content_title{border-bottom:1px solid #CFD5D8;height: 47px;line-height: 46px;}
.user_content_title .icon-edit{font-size:14px;}
.user_base_box{margin-top:30px;}
.user_base_box .item_box{margin-bottom:15px;padding: 0px 40px;}
.user_base_box .item_box .name{width: 120px;line-height: 20px;padding: 20px 0;text-align: center;background-color: #f3f5f7;color: #07111b;font-weight: 700;}
.user_base_box .item_box .value{border-bottom: 1px solid #d9dde1;width: 770px;padding: 20px 0px 20px 20px;line-height: 20px;min-height: 60px;color: #14191e;}

.user_upload_head .dialog_content{text-align:center;}
.user_upload_head .dialog_content .img{border:4px solid #d9dde1;border-radius:50%;width: 190px;height: 190px;}
.user_upload_head .dialog_content .el-upload--text{padding:20px 0 0;}

.user_edit_info{}
.user_edit_info .option_box{}
.user_edit_info .option_box .name{width:120px;text-align:right;line-height:36px;}
.user_edit_info .option_box .name.type1{line-height:24px;}
.user_edit_info .option_box .input0{width:280px;height:36px;padding-left:10px;}
.user_edit_info .option_box .error{height:24px;color:#f00;font-size:12px;}
.user_edit_info .option_box .textarea0{height:68px;width: 280px;padding-left:10px}

/* aritcle list */
.article_list_box{background-color:#fff;border-radius:5px;box-shadow: 0px 0px 3px 0px rgba(6,6,6,0.4);margin-bottom: 20px;padding: 10px 20px;}
.article_list_box .head_box{}
.article_list_box .head_box .img{width:40px;height:40px;}
.article_list_box .title_box{}
.article_list_box .title_box .title{font-size:18px;color:#000;}
.article_list_box .content{max-height:40px;overflow:hidden;margin: 10px 0;}
.article_list_box .date_box{font-size:12px;color:#999;}

/*article*/
.article_author{padding:15px 0;}
.article_author .img{width:60px;height:60px;}
.article_author .signature{width: 600px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top:10px;}
.article_author .date_box{padding:10px 0;color: #8590a6;}
.article_content_main{line-height:1.5;color:#343434;}

.article_list{}
.article_list .item_box{width:255px;border-radius:5px;box-shadow: 0px 3px 8px 1px #86868666;padding:10px 15px;margin-right: 20px;margin-bottom: 30px;}
.article_list .item_box:hover{box-shadow:0px 1px 4px 0px #a4a4a466;}
.article_list .item_box:nth-child(4n){margin-right:0;}
.article_list .item_box .h3{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333;font-size:16px;}
.article_list .item_box .content{height:60px;overflow:hidden;margin-top:10px;line-height:20px;color: #666;}
.article_list .item_box .option_box{font-size:12px;color:#999;margin-top:10px;}

/*game*/
/*snake game*/
.snake_game_main .snake{background-color:#ffffff;border: 1px solid #ccc;}




